.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_btn{
    background-color: slateblue;
    border: none;
    border-radius: 8px;
    height: 75px;
    width: 125px;
    color: white;
    margin-left: 15px;
    margin-right: 15px;
}